html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  font-family: Arial, sans-serif;
}

/* Custom vertical scrollbar */
body {
  scrollbar-width: thin;
  scrollbar-color: #a1d2ce #f7d7ff; /* Firefox */
}

body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f7d7ff; /* Track color */
}

body::-webkit-scrollbar-thumb {
  background-color: #a1d2ce; /* Scrollbar color */
  border-radius: 20px; /* Rounded corners */
  border: 3px solid #f7d7ff; /* Padding around thumb */
}


.video-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 9999;
}

#loading-video {
  width: 100%;
  height: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0f0f0;
  color: #333;
}

.main-content h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

.main-content p {
  font-size: 1.5em;
}
